mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 300px;
}

g6-graph {
  height: 100%;
  width: 100%;
}

mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}