<mat-toolbar fxLayout fxLayoutAlign="space-between center">
  <h2>Angular Antv - G6</h2>
</mat-toolbar>

<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
  <h1 class="mat-display-2">Angular G6</h1>
  <p>Build graph with G6 and Angular</p>
  <div fxLayout fxLayoutAlign="center center">
    <a class="mat-title" mat-flat-button color="primary" routerLink="doc">
      Getting Started
    </a>
  </div>
  <div fxLayout fxLayoutAlign="center center" fxLayoutGap="24px">
    <a mat-button routerLink="graph">Graph Editor</a>
  </div>
</section>
